<!DOCTYPE html>
<html>
	<head>
		<title>Notorious LED</title>
		<link rel="stylesheet" href="stuff.css">
		<meta name="viewport" content="initial-scale=1,maximum-scale=1">
	</head>
	<body>
		<header>
			<img src="img/notorious1.png">
			<h1>Notorious LED</h1>
			<div id="rightstuff">
				<h2>Sometimes your lights just hypnotize me</h2>
			</div>
		</header>
		<article>
			<section id="thing-text">{{thing_text}}</section>
			<section id="thing-image" class="{{thing_slug}}"></section>
		</article>
	</body>
</html>

